<div class="conatiner X text-center">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div >
                I am Component Y {{unique_key_y}}
            </div>

            <form>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Default checkbox
                    </label>
                  </div>
                  <div class="form-check">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
            </form>
        </div>
    </div>
</div>
